<div class="product">
    <img [src]="product.image" [alt]="product.title" class="image">
    <h2 class="title">{{ product.title }}</h2>
    <p>Price: <span class="price">{{ product.price | currency: 'RUB ' }}</span></p>

    <button
        class="toggler"
        [ngClass]="{ active: showDetails }"
        (click)="changeDetailsVision()"
    >
        {{ showDetails ? 'Hide' : 'Show' }} details
    </button>

    <div *ngIf="showDetails">
        <p>{{ product.description }}</p>
        <p class="rate">Rate: <span>
            {{ product.rating.rate | number: '1.1'}}
        </span></p>
    </div>
</div>