.input {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    outline: none;
}

.add {
    display: block;
    margin-left: auto;
    padding: 5px 15px;
    background-color: rgb(26, 26, 192);
    color: white;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
}

// .add:disabled {
//     background-color: grey;
// }

.wrapper {
    display: flex;
    padding-left: 15px;
}

.validation-error {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}